<form #incomeForm="ngForm" class="incomeForm" (ngSubmit)="saveIncome(incomeForm.value)" name="incomeForm">
  <h3 style="color:rgb(95, 88, 88);">New Income</h3>
  <mat-form-field>
          <input required matInput [matDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="date" name="date"/>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>


  <mat-form-field class="example-full-width margin10">
          <input matInput placeholder="Description" name="description" [(ngModel)]="description">
  </mat-form-field>
  <br/>
  <br/>

  <mat-form-field class="example-full-width">
          <input matInput placeholder="Amount" [(ngModel)]="amount" name="amount" />
  </mat-form-field>

  <mat-form-field class=" margin12">
          <mat-select placeholder="Bank" [(ngModel)]="bank" name="bank">
                  <mat-option *ngFor="let bank of banks" [value]="bank.value">
                          {{ bank.viewValue }}
                  </mat-option>
          </mat-select>
  </mat-form-field>
  <br/>
  <br/>
  <button mat-raised-button color="primary" type="submit">Submit</button>
</form> 