<form #expenseForm class="expenseForm" >
        <h3 style="color:rgb(95, 88, 88);">New Expense</h3>
        <mat-form-field>
                <input required matInput [matDatepicker]="picker" placeholder="Choose a date" ng-control="date">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>


        <mat-form-field class="example-full-width margin10">
                <input matInput placeholder="Expense Name" ng-control="name">
        </mat-form-field>
        <br/>
        <br/>

        <mat-form-field class="example-full-width">
                <input matInput placeholder="Amount" ng-control="amount" />
        </mat-form-field>

        <mat-form-field class="margin12">
                <mat-select placeholder="Category" ng-control="category">
                        <mat-option *ngFor="let category of categories" [value]="category.value">
                                {{ category.viewValue }}
                        </mat-option>
                </mat-select>
        </mat-form-field>
        <br/>
        <br/>

        <mat-form-field>
                <mat-select placeholder="Bank" ng-control="bank">
                        <mat-option *ngFor="let bank of banks" [value]="bank.value">
                                {{ bank.viewValue }}
                        </mat-option>
                </mat-select>
        </mat-form-field>
        <br/>
        <br/>
        <button mat-raised-button color="primary" (click)="saveExpense(expenseForm.value)">Submit</button>
</form> 